server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://localhost:5400/showroom_db
    username: admin
    password: root
  liquibase:
    enabled: off
  jpa:
    hibernate:
      ddl-auto: validate
